@import '~node_modules/modern-normalize/modern-normalize.css';
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #11131f;
}

.hero {
  padding-top: 64px;
  padding-bottom: 164px;
}
.hero .blure {
  position: absolute;
  left: -170px;
  width: 100%;
  height: 300px;
  filter: blur(200px);
  border-radius: 100%;
  background-color: #91afba;
}
@media screen and (min-width: 1200px) {
  .hero .blure {
    width: 700px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .title-container {
    margin-left: 236px;
  }
}

.hero-title {
  width: 100%;
  margin-bottom: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
}
.hero-title .hero-part {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
  }
}

.hero-information {
  margin-bottom: 24px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #f6f5ef;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero-information {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.hero-list {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero-list {
    margin-right: auto;
  }
}
.hero-list .hero-list-item:nth-child(1) {
  width: 97%;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(1) {
    width: 426px;
    height: 598px;
  }
}
.hero-list .hero-list-item:nth-child(2) {
  position: absolute;
  top: 152px;
  left: 24px;
  width: 83%;
  height: 221px;
}
.hero-list .hero-list-item:nth-child(2) .hero-yacht-link {
  display: flex;
  align-items: center;
  width: 101%;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #11131f;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(2) .hero-yacht-link {
    font-size: 60px;
    margin-left: 32px;
    margin-top: 22px;
  }
}
.hero-list .hero-list-item:nth-child(2) .hero-yacht-link .hero-yacht-part {
  margin-left: 14px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  text-transform: none;
  color: #11131f;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(2) .hero-yacht-link .hero-yacht-part {
    font-size: 18px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(2) {
    top: 225px;
  }
}
.hero-list .hero-list-item:nth-child(3) {
  position: absolute;
  top: 24px;
  left: 32px;
  width: 39.3%;
  height: 82px;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(3) {
    top: 32px;
  }
}
.hero-list .hero-list-item:nth-child(3) .clients-link {
  margin-top: 11px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #11131f;
}
.hero-list .hero-list-item:nth-child(4) {
  position: absolute;
  top: 35px;
  left: 66%;
  width: 38%;
  height: 133px;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(4) {
    width: 55%;
    height: 233px;
    top: 32px;
  }
}

.hero-bg {
  width: 335px;
  height: 427px;
}
@media screen and (min-width: 768px) {
  .hero-bg {
    width: 426px;
    height: 598px;
  }
}

.hero-yacht {
  width: 287px;
  height: 167px;
}
@media screen and (min-width: 768px) {
  .hero-yacht {
    width: 378px;
    height: 221px;
  }
}

.man {
  border-radius: 24px;
  width: 133px;
  height: 133px;
}
@media screen and (min-width: 768px) {
  .man {
    width: 233px;
    height: 233px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 375px) and (max-width: 1200px) {
  .hero-container {
    flex-direction: column-reverse;
  }
}

.hero-btn {
  height: 48px;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  border-radius: 60px;
  color: #f6f5ef;
}

.button-container {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .button-container {
    margin-bottom: 64px;
  }
}

.button-started {
  width: 150px;
  margin-right: 11px;
  background: #93abae;
  border: none;
}

.button-explore {
  border: 2px solid #f6f5ef;
  width: 117px;
  background-color: #11131f;
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid #f6f5ef;
}

.left {
  transform: rotate(180deg);
}

.dream-btn {
  width: 131px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
  background-color: transparent;
  border: 1px solid #f6f5ef;
  border-radius: 60px;
  transform: translateY(-30px);
}
@media screen and (min-width: 768px) {
  .dream-btn {
    width: 154px;
    height: 48px;
    font-size: 18px;
    transform: none;
  }
}
@media screen and (min-width: 1200px) {
  .dream-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dream {
  padding-top: 40px;
  padding-bottom: 80px;
}
.dream .yacht-container {
  position: relative;
  display: flex;
}
.dream .yacht-container .yacht {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.dream .yacht-container .yacht-item:not(:last-child) {
  margin-bottom: 24px;
}
.dream .blure {
  position: absolute;
  bottom: -140px;
  left: -60px;
  width: 255px;
  height: 255px;
  filter: blur(100px);
  border-radius: 100%;
  background-color: #91afba;
  opacity: 0.6;
}
.dream .dream-yacht {
  width: 310px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
  transform: translateY(-70px);
}

@media screen and (min-width: 480px) {
  .dream .blure {
    bottom: -90px;
    left: -100px;
  }
}
@media screen and (min-width: 768px) {
  .dream {
    padding-top: 64px;
    padding-bottom: 100px;
  }
  .dream .yacht-container .yacht {
    position: relative;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    gap: 32px;
  }
  .dream .yacht-container .yacht .yacht-item:last-child {
    position: absolute;
    left: 340px;
    bottom: -130px;
  }
  .dream .yacht-container .blure {
    width: 399px;
    height: 399px;
    left: -60px;
    bottom: -340px;
    filter: blur(80px);
  }
  .dream .dream-yacht {
    position: relative;
    z-index: 1;
    width: 641px;
    margin-bottom: 64px;
    margin-top: 83px;
    font-size: 70px;
    transform: none;
  }
  .yacht__slider {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .yacht__slider .slider {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .yacht__slider .slider .slider-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .dream {
    padding-bottom: 164px;
  }
  .dream .yacht-container .yacht {
    align-items: start;
    flex-direction: row-reverse;
  }
  .dream .yacht-container .yacht .yacht-item:not(:last-child) {
    margin-bottom: 0;
  }
  .dream .yacht-container .yacht .yacht-item:last-child {
    bottom: -220px;
  }
  .dream .yacht-container .yacht .yacht-item:nth-child(2) {
    margin-top: 253px;
  }
  .dream .yacht-container .blure {
    width: 414px;
    height: 414px;
    left: 230px;
    bottom: -425px;
  }
  .dream .title-wrapper {
    display: flex;
    flex-direction: column;
    width: 882px;
    margin: auto;
  }
  .dream .title-wrapper .dream-yacht {
    width: 882px;
    margin: 95px auto 64px;
    font-size: 100px;
  }
  .slider-yacht {
    color: #f6f5ef;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .list-item {
    display: flex;
    margin-left: 32px;
  }
  .info {
    width: 58px;
    text-transform: uppercase;
    margin-right: 32px;
    margin-bottom: 8px;
  }
  .item-info {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #f6f5ef;
  }
  .carousel-control-prev {
    display: block;
    padding: 14px 16px 14px 16px;
    opacity: 1;
    width: 18px;
    height: 8px;
    left: -60px;
    margin-top: 250px;
    margin-left: 10px;
    border-radius: 60px;
    border: 2px solid #f6f5ef;
  }
  .carousel-control-next {
    display: block;
    padding: 14px 16px 14px 16px;
    opacity: 1;
    width: 18px;
    height: 8px;
    right: -20px;
    margin-top: 250px;
    margin-left: 10px;
    border-radius: 60px;
    border: 2px solid #f6f5ef;
  }
  .btn-prev,
  .btn-next {
    margin-left: -10px;
    margin-top: -24px;
  }
  .carousel-inner {
    display: flex;
    justify-content: space-between;
  }
  .carousel-item {
    width: 354px;
    padding-bottom: 32px;
    border-radius: 24px;
    background-color: #1f212d;
  }
  .p-16 {
    padding: 16px 16px 0px 16px;
  }
  .item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: baseline;
    color: aqua;
  }
  .slider-title {
    color: #f6f5ef;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=index.css.map */