@import '~node_modules/modern-normalize/modern-normalize.css';
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #11131f;
}

.yacht-adventure {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #f6f5ef;
}
@media screen and (min-width: 768px) {
  .yacht-adventure {
    font-size: 30px;
    width: 514px;
    height: 152px;
  }
}

.yacht-adventure span {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.04em;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .yacht-adventure span {
    font-size: 30px;
  }
}

.yacht-info-container {
  display: flex;
  width: 335px;
  height: 220px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .yacht-info-container {
    width: 400px;
    height: 242px;
    margin-top: 32px;
    margin-left: auto;
  }
}

.yacht-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #f6f5ef;
}
@media screen and (min-width: 768px) {
  .yacht-info {
    font-size: 16px;
  }
}

.yacht-info:nth-child(1) {
  margin-right: 14px;
  width: 160px;
  height: 220px;
}
@media screen and (min-width: 768px) {
  .yacht-info:nth-child(1) {
    width: 183px;
    height: 242px;
  }
}

.yacht-info:nth-child(2) {
  width: 161px;
  height: 180px;
}
@media screen and (min-width: 768px) {
  .yacht-info:nth-child(2) {
    width: 180px;
    height: 198px;
  }
}

@media screen and (min-width: 1200px) {
  .yacht {
    display: flex;
  }
}

.container {
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 24px;
}
.nav-container::after {
  content: "";
  display: inline;
  width: 100%;
  height: 1px;
  margin-bottom: 140px;
  margin-top: 24px;
  background-color: rgba(246, 245, 239, 0.2);
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 375px) and (max-width: 1200px) {
  .hero-container {
    flex-direction: column-reverse;
  }
}

.header-btn {
  background-color: transparent;
  border: none;
}

.hero-btn {
  height: 48px;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  border-radius: 60px;
  color: #f6f5ef;
}

.button-container {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .button-container {
    margin-bottom: 64px;
  }
}

.button-started {
  width: 150px;
  margin-right: 11px;
  background: #93abae;
  border: none;
  transition: background, 300ms, cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button-started:hover {
  cursor: pointer;
  background-color: #88b3b9;
}

.button-explore {
  border: 2px solid #f6f5ef;
  width: 117px;
  background-color: #11131f;
  transition-property: color, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button-explore:hover {
  color: #93abae;
  border-color: #93abae;
  cursor: pointer;
}

.dream-btn {
  width: 131px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
  background-color: transparent;
  border: 1px solid #f6f5ef;
  border-radius: 60px;
  transform: translateY(-30px);
  transition-property: color, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dream-btn:hover {
  color: #93abae;
  border-color: #93abae;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .dream-btn {
    width: 154px;
    height: 48px;
    font-size: 18px;
    transform: none;
  }
}
@media screen and (min-width: 1200px) {
  .dream-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.rent-btn {
  display: inline-flex;
  align-items: center;
  width: 132px;
  height: 48px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  border: 2px solid #f6f5ef;
  color: #f6f5ef;
  background-color: transparent;
  border-radius: 60px;
  transition-property: color, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.rent-btn:hover {
  color: #93abae;
  border-color: #93abae;
  cursor: pointer;
}

.testimonial-btn {
  position: absolute;
  bottom: 22px;
  right: 22px;
  width: 44px;
  height: 44px;
  background-color: #93abae;
  border-radius: 8px;
  border: none;
}
@media screen and (min-width: 768px) {
  .testimonial-btn {
    width: 68px;
    height: 68px;
    bottom: 32px;
    right: 32px;
  }
  .testimonial-btn .btn-icon {
    width: 16px;
    height: 30px;
  }
}

.hero {
  padding-top: 64px;
  padding-bottom: 164px;
}
.hero .blure {
  position: absolute;
  left: -170px;
  top: 350px;
  width: 100%;
  height: 300px;
  filter: blur(120px);
  border-radius: 100%;
  background-color: #91afba;
}
@media screen and (min-width: 1200px) {
  .hero .blure {
    width: 700px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .title-container {
    margin-left: 236px;
  }
}

.hero-title {
  width: 332px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
}
.hero-title .hero-part {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 767px) {
  .hero-title .hero-part {
    font-style: normal;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
    width: 100%;
  }
}

.hero-information {
  margin-bottom: 24px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #f6f5ef;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero-information {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.hero-list {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero-list {
    margin-right: auto;
  }
}
.hero-list .hero-list-item:nth-child(1) {
  width: 97%;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(1) {
    width: 426px;
    height: 598px;
  }
}
.hero-list .hero-list-item:nth-child(2) {
  position: absolute;
  top: 152px;
  left: 24px;
  width: 83%;
  height: 221px;
}
.hero-list .hero-list-item:nth-child(2) .hero-yacht-link {
  display: flex;
  align-items: center;
  width: 101%;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #11131f;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(2) .hero-yacht-link {
    font-size: 60px;
    margin-left: 32px;
    margin-top: 22px;
  }
}
.hero-list .hero-list-item:nth-child(2) .hero-yacht-link .hero-yacht-part {
  margin-left: 14px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  text-transform: none;
  color: #11131f;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(2) .hero-yacht-link .hero-yacht-part {
    font-size: 18px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(2) {
    top: 225px;
  }
}
.hero-list .hero-list-item:nth-child(3) {
  position: absolute;
  top: 24px;
  left: 32px;
  width: 39.3%;
  height: 82px;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(3) {
    top: 32px;
  }
}
.hero-list .hero-list-item:nth-child(3) .clients-link {
  margin-top: 11px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #11131f;
}
.hero-list .hero-list-item:nth-child(4) {
  position: absolute;
  top: 35px;
  left: 66%;
  width: 38%;
  height: 133px;
}
@media screen and (min-width: 768px) {
  .hero-list .hero-list-item:nth-child(4) {
    width: 55%;
    height: 233px;
    top: 32px;
  }
}

.hero-bg {
  width: 335px;
  height: 427px;
}
@media screen and (min-width: 768px) {
  .hero-bg {
    width: 426px;
    height: 598px;
  }
}

.hero-yacht {
  width: 287px;
  height: 167px;
}
@media screen and (min-width: 768px) {
  .hero-yacht {
    width: 378px;
    height: 221px;
  }
}

.man {
  width: 133px;
  height: 133px;
}
@media screen and (min-width: 768px) {
  .man {
    width: 233px;
    height: 233px;
  }
}

.dream {
  padding-top: 40px;
  padding-bottom: 80px;
}
.dream .yacht-container {
  position: relative;
  display: flex;
}
.dream .yacht-container .yacht {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.dream .yacht-container .yacht-item:not(:last-child) {
  margin-bottom: 24px;
}
.dream .blure {
  position: absolute;
  bottom: -140px;
  left: -60px;
  width: 255px;
  height: 255px;
  filter: blur(100px);
  border-radius: 100%;
  background-color: #91afba;
  opacity: 0.6;
}
.dream .dream-yacht {
  width: 310px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
  transform: translateY(-70px);
}

@media screen and (min-width: 480px) {
  .dream .blure {
    bottom: -90px;
    left: -100px;
  }
}
@media screen and (min-width: 768px) {
  .dream {
    padding-top: 64px;
    padding-bottom: 100px;
  }
  .dream .yacht-container .yacht {
    position: relative;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    gap: 32px;
  }
  .dream .yacht-container .yacht .yacht-item:last-child {
    position: absolute;
    left: 340px;
    bottom: -130px;
  }
  .dream .yacht-container .blure {
    width: 399px;
    height: 399px;
    left: -60px;
    bottom: -340px;
    filter: blur(80px);
  }
  .dream .dream-yacht {
    position: relative;
    z-index: 1;
    width: 641px;
    margin-bottom: 64px;
    margin-top: 83px;
    font-size: 70px;
    transform: none;
  }
  .yacht__slider {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .yacht__slider .slider {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .yacht__slider .slider .slider-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .dream {
    padding-bottom: 164px;
  }
  .dream .yacht-container .yacht {
    align-items: start;
    flex-direction: row-reverse;
  }
  .dream .yacht-container .yacht .yacht-item:not(:last-child) {
    margin-bottom: 0;
  }
  .dream .yacht-container .yacht .yacht-item:last-child {
    bottom: -220px;
  }
  .dream .yacht-container .yacht .yacht-item:nth-child(2) {
    margin-top: 253px;
  }
  .dream .yacht-container .blure {
    width: 414px;
    height: 414px;
    left: 230px;
    bottom: -425px;
  }
  .dream .title-wrapper {
    display: flex;
    flex-direction: column;
    width: 882px;
    margin: auto;
  }
  .dream .title-wrapper .dream-yacht {
    width: 882px;
    margin: 95px auto 64px;
    font-size: 100px;
    font-weight: 500;
  }
  .slider-yacht {
    color: #f6f5ef;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .list-item {
    display: flex;
    margin-left: 32px;
  }
  .info {
    width: 58px;
    text-transform: uppercase;
    margin-right: 32px;
    margin-bottom: 8px;
  }
  .item-info {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #f6f5ef;
  }
  .gallery-item {
    width: 354px;
    padding-bottom: 32px;
    border-radius: 24px;
    background-color: #1f212d;
  }
  .p-16 {
    padding: 16px 16px 0px 16px;
  }
  .item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: baseline;
    color: aqua;
  }
  .slider-title {
    color: #f6f5ef;
    text-transform: uppercase;
  }
}
.slider-section {
  position: relative;
}

.slider-fon {
  position: absolute;
  top: -530px;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .slider-fon {
    display: none;
  }
}

.slider {
  width: 1200px;
  display: flex;
  overflow-x: scroll;
}

.item-slider:nth-child(1) {
  display: block;
}
@media screen and (min-width: 768px) {
  .item-slider:nth-child(1) {
    display: none;
  }
}

.item-slider:nth-child(2) {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .item-slider:nth-child(2) {
    display: block;
  }
}

.item-slider:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1200px) {
  .item-slider:nth-child(3) {
    display: block;
  }
}

.slider::-webkit-scrollbar,
.mobile-slider::-webkit-scrollbar {
  display: none;
}

.slider .gallery,
.mobile-slider .gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.controlsBtn {
  width: 50px;
  height: 36px;
  border-radius: 60px;
  border: 1px solid #f6f5ef;
  background-color: transparent;
}

.controls #leftBtn,
.controls #rightBtn {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .slider-yacht {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #f6f5ef;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .list-item {
    display: flex;
    margin-left: 32px;
  }
  .info {
    width: 58px;
    text-transform: uppercase;
    margin-right: 32px;
    margin-bottom: 8px;
  }
  .item-info {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #f6f5ef;
  }
  .gallery-item {
    width: 354px;
    padding-bottom: 32px;
    border-radius: 24px;
    background-color: #1f212d;
  }
  .p-16 {
    padding: 16px 16px 0px 16px;
  }
  .item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: baseline;
    color: aqua;
  }
  .slider-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #f6f5ef;
    text-transform: uppercase;
  }
}
.controls {
  position: relative;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .controls {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .controls {
    padding-top: 164px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .controlsBtn {
    position: absolute;
  }
}

.btnLeft {
  top: 538px;
  left: 115px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .btnLeft {
    top: 571px;
    left: 310px;
  }
}

.btnRight {
  top: 538px;
  left: 175px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .btnRight {
    top: 571px;
    left: 380px;
  }
}

.soon {
  font-size: 50px;
  margin-top: 220px;
  text-align: center;
  color: #f6f5ef;
  opacity: 0.3;
}

.activity {
  position: relative;
  padding-bottom: 80px;
}
.activity .blure {
  position: absolute;
  top: 320px;
  left: -286px;
  width: 323px;
  height: 323px;
  filter: blur(200px);
  border-radius: 100%;
  background-color: #91afba;
}
.activity .activity-item {
  position: relative;
}
.activity .activity-item:not(:last-child) {
  margin-bottom: 24px;
}
.activity .activity-item .activity-container {
  position: absolute;
  bottom: 24px;
  left: 24px;
  max-width: 148px;
  padding: 14px 28px;
  background-color: #f6f5ef;
  border-radius: 60px;
}
.activity .activity-item .activity-kind {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #11131f;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .activity {
    position: relative;
    padding-bottom: 100px;
  }
  .activity .blure {
    top: 570px;
    left: -305px;
    width: 414px;
    height: 414px;
  }
  .activity .activity-item:nth-child(2) {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .activity .activity-item .activity-container {
    bottom: 32px;
    left: 32px;
  }
  .activity .activity-item .activity-kind {
    font-size: 18px;
  }
}
@media screen and (min-width: 1220px) {
  .activity {
    padding-bottom: 164px;
  }
  .activity .blure {
    top: 145px;
    left: -300px;
  }
  .activity .activity-list {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    gap: 64px;
  }
  .activity .activity-list .activity-item {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
}
.testimonials-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonials-section .testimonials-title {
  width: 335px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #f6f5ef;
}
.testimonials-section .testimonials-title .testimonial-part {
  color: #93abae;
  font-style: italic;
}
.testimonials-section .testimonials-description {
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 14px;
  color: #f6f5ef;
}
.testimonials-section .testimonials-slider {
  position: relative;
  width: 335px;
  height: 300px;
}
.testimonials-section .testimonial-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 335px;
  height: 208px;
  padding: 24px;
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s 0.5s;
  background: #1f212d;
  border-radius: 24px;
  text-align: center;
  opacity: 0;
}
.testimonials-section .testimonial-card .testimonial-name {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-align: center;
  color: #f6f5ef;
}
.testimonials-section .testimonial-card .testimonial-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
}
.testimonials-section .testimonial-card .testimonial-photo {
  width: 48px;
  height: 48px;
  margin: auto;
}
.testimonials-section input[type=radio] {
  display: none;
}
.testimonials-section #slider1:checked,
.testimonials-section #slide2:checked,
.testimonials-section #slide3:checked ~ .testimonials-slider #testimonial-ihor {
  transform: none;
}
.testimonials-section #slide1:checked ~ .testimonials-slider #testimonial-john {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}
.testimonials-section #slide2:checked ~ .testimonials-slider #testimonial-victoria {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}
.testimonials-section #slide3:checked ~ .testimonials-slider #testimonial-ihor {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}
.testimonials-section .testimonials-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.testimonials-section .dot {
  width: 12px;
  height: 12px;
  background-color: #1f212d;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.testimonials-section .dot:hover {
  background-color: #aaa;
}
.testimonials-section #slide1:checked ~ .testimonials-dots label[for=slide1],
.testimonials-section #slide2:checked ~ .testimonials-dots label[for=slide2],
.testimonials-section #slide3:checked ~ .testimonials-dots label[for=slide3] {
  background-color: #93abae;
}

.testimonials-section::after {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  width: 315px;
  margin-left: 30px;
  height: 1px;
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
}

@media screen and (min-width: 768px) {
  .testimonials-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .testimonials-section .testimonials-title {
    width: 497px;
    font-size: 32px;
  }
  .testimonials-section .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 32px;
  }
  .testimonials-section .testimonial-container .testimonials-description {
    width: 273px;
    font-size: 16px;
  }
  .testimonials-section #slide1:checked ~ .testimonials-slider #testimonial-john,
  .testimonials-section #slide1:checked ~ .testimonials-slider #testimonial-victoria {
    opacity: 1;
    visibility: visible;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .testimonials-section #slide1:checked ~ .testimonials-slider #testimonial-ihor {
    display: none;
  }
  .testimonials-section #slide2:checked ~ .testimonials-slider #testimonial-victoria,
  .testimonials-section #slide2:checked ~ .testimonials-slider #testimonial-ihor {
    opacity: 1;
    visibility: visible;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .testimonials-section #slide2:checked ~ .testimonials-slider #testimonial-ihor {
    transform: translateY(-208px);
  }
  .testimonials-section #slide3:checked ~ .testimonials-slider #testimonial-john,
  .testimonials-section #slide3:checked ~ .testimonials-slider #testimonial-ihor {
    opacity: 1;
    visibility: visible;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .testimonials-section #slide3:checked ~ .testimonials-slider #testimonial-ihor {
    transform: translate(360px, -208px);
  }
  .testimonials-section .testimonials-slider {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 16px;
         column-gap: 16px;
    width: 704px;
  }
  .testimonials-section .testimonials-slider .testimonial-card {
    position: static;
    flex-basis: calc((100% - 16px) / 2);
    width: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
}
@media screen and (min-width: 1220px) {
  .testimonials-section {
    padding-top: 164px;
    padding-bottom: 164px;
  }
  .testimonials-section .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }
  .testimonials-section .testimonial-container {
    flex-wrap: nowrap;
    margin-top: 0;
  }
  .testimonials-section .testimonial-container .testimonials-description {
    margin: 0;
  }
  .testimonials-section #slide1:checked ~ .testimonials-slider #testimonial-ihor {
    display: block;
  }
  .testimonials-section .testimonials-slider {
    min-width: 1216px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .testimonials-section .testimonials-slider .testimonial-card {
    height: 282px;
    padding: 32px;
    flex-basis: calc((100% - 64px) / 3);
    opacity: 1;
    visibility: visible;
  }
  .testimonials-section .testimonials-slider .testimonial-card .testimonial-name {
    margin-top: 24px;
    font-size: 18px;
  }
  .testimonials-section .testimonials-slider .testimonial-card .testimonial-text {
    width: 320px;
    font-size: 16px;
  }
  .testimonials-section .testimonials-dots {
    display: none;
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header::after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  margin: auto;
  margin-top: 32px;
  background-color: rgba(246, 245, 239, 0.2);
}
.header .header-container {
  display: none;
}
.header .mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  margin: auto;
  padding: 0 15px;
}
.header .header-logo {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #f6f5ef;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.18;
}
.header .mobile-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 15px;
  background: #11131f;
  transform: translateY(-100%);
}
.header .mobile-container .nav {
  width: 64px;
  margin: auto;
  padding-bottom: 512px;
}
.header .mobile-container .nav .nav-item:not(:last-child) {
  margin-bottom: 14px;
}
.header .mobile-container .nav .nav-link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f5ef;
  text-align: center;
}
.header .mobile-container.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header::after {
    content: "";
    display: block;
    width: calc(100% - 32px);
    height: 1px;
    margin: auto;
    margin-top: 32px;
    background-color: rgba(246, 245, 239, 0.2);
  }
  .header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header-container .navigation-list {
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .header .header-container .navigation-list .navigation-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f6f5ef;
  }
  .header .mobile-container,
  .header .mobile-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1220px) {
  .header::after {
    display: block;
    width: calc(100% - 32px);
  }
  .header .container {
    width: 1216px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.yacht__form .forms {
  display: flex;
  justify-content: center;
  position: relative;
}
.yacht__form .forms .blure {
  position: absolute;
  top: 340px;
}
.yacht__form .forms .rent-container {
  margin-right: 69px;
  width: 282px;
  height: 387px;
}
@media screen and (min-width: 1200px) {
  .yacht__form .forms .rent-container {
    margin-right: 188px;
  }
}
.yacht__form .forms .rent-title {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
}
@media screen and (max-width: 767px) {
  .yacht__form .forms .rent-title {
    font-size: 36px;
  }
}
.yacht__form .forms .rant-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 335px;
}
@media screen and (min-width: 768px) {
  .yacht__form .forms .rant-form {
    margin-top: 0px;
    width: 364px;
  }
}
@media screen and (min-width: 1200px) {
  .yacht__form .forms .rant-form {
    width: 443px;
  }
}
.yacht__form .forms .label-form {
  color: #f6f5ef;
}
.yacht__form .forms .input-form {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 16px;
  color: #f6f5ef;
  border-bottom: 1px solid #f6f5ef;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  outline: none;
}
.yacht__form .forms .input-form:nth-child(-n+6) {
  margin-bottom: 28px;
}
.yacht__form .forms .input-form:nth-child(8) {
  margin-top: 58px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .yacht__form .forms .input-form:nth-child(8) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .yacht__form .forms .input-form:nth-child(8) {
    margin-bottom: 60px;
  }
}
.yacht__form .forms .rent-btn svg {
  margin-left: 16px;
}
@media screen and (max-width: 767px) {
  .yacht__form .forms {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .yacht__form {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .yacht__form .forms .blure {
    top: 0;
    right: -30px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 10ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 570px;
  height: 522px;
  padding: 32px;
  background-color: #11131f;
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.modal-btn {
  margin-left: 482px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container-thank-yacht {
  position: relative;
  text-align: -webkit-center;
  margin-top: 41px;
}

.container-thank-text {
  margin: 0 auto;
  width: 442px;
  height: 142px;
}

.container-thank-text h2,
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #f6f5ef;
}

.container-thank-text h2 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.04em;
}

.modal-blure {
  position: absolute;
  z-index: -1;
  left: 120px;
  top: 0px;
  width: 265px;
  height: 265px;
  filter: blur(200px);
  border-radius: 100%;
  background-color: #91afba;
}

.footer {
  padding-top: 40px;
  padding-bottom: 15px;
  background-image: url("../images/footer-bg_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .footer {
    background-image: url("../images/footer-bg.png");
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-content {
    margin-bottom: 132px;
  }
}

.logo {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f5ef;
}
.logo .logo-icon {
  width: 18px;
  height: 18px;
}
.logo .menu-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f5ef;
}

.navigation-footer .menu {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
@media screen and (min-width: 1200px) {
  .navigation-footer .menu {
    flex-direction: row;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.navigation-footer .menu .menu-item .menu-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f5ef;
}

.sm-title {
  margin-bottom: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f5ef;
}

.sm-list {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.sm-list .sm-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.5);
}
.sm-list .sm-item .sm-link .sm-icon {
  fill: #f6f5ef;
}
.sm-list .sm-item .sm-link .sm-icon.sm-icon-fb {
  width: 8px;
  height: 15px;
}
@media screen and (min-width: 768px) {
  .sm-list .sm-item .sm-link .sm-icon.sm-icon-fb {
    width: 10px;
    height: 19px;
  }
}
.sm-list .sm-item .sm-link .sm-icon.sm-icon-insta {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .sm-list .sm-item .sm-link .sm-icon.sm-icon-insta {
    width: 18px;
    height: 18px;
  }
}
.sm-list .sm-item .sm-link .sm-icon.sm-icon-yt {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .sm-list .sm-item .sm-link .sm-icon.sm-icon-yt {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .sm-list .sm-item {
    width: 40px;
    height: 40px;
  }
}

.copyright {
  display: block;
  width: 235px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
}/*# sourceMappingURL=index.css.map */