<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./sass/index.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navigation">
          <a href="/" class="navigation__logo">
            <svg width="23" height="23">
              <use href="./icon/symbol-defs.svg#icon-korablic"></use>
            </svg>
            <p class="logo-text">Yacht Adventures</p>
          </a>

          <ul class="menu">
            <li class="menu__item">
              <a href="#" class="menu__link">About</a>
            </li>

            <li class="menu__item">
              <a href="#" class="menu__link">Yachts</a>
            </li>

            <li class="menu__item">
              <a href="#" class="menu__link">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="hero-section">
        <div class="container">
          <ul>
            <li><img src="./images/bg-hero-section.png" alt="" /></li>
            <li><img src="./images/yacht.png" alt="" /></li>
            <li><img src="./images/clients.png" alt="" /></li>
            <li><img src="./images/man.png" alt="" /></li>
            <li>
              <p>$12M</p>
              <p>Book now and make your dream yacht rental a reality</p>
            </li>
          </ul>
          <h1 class="hero__title">Explore the High Seas with Our Luxury Yacht Rentals</h1>
          <p class="hero__information">
            Experience the freedom and luxury of yachting on the open seas.
            Choose from our top-of-the-line yachts and embark on an
            unforgettable journey surrounded by breathtaking views and
            state-of-the-art amenities.
          </p>
          <button type="button" class="button__started">Get Started</button>
          <button type="button" class="button__explore">Explore</button>
        </div>
      </section>

      <section class="adventure">
        <div class="container">
          <h2 class="yacht__adventure">
            Yacht Adventures fleet is here to take you on the ultimate
            adventure. Each yacht is hand-picked for its comfort, style, and
            performance.
          </h2>
          <p class="yacht__info">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.
          </p>
          <p class="yacht__info">
            No matter which yacht you choose, our experienced crew will ensure
            that your journey is smooth and enjoyable. Book now and get ready
            for an unforgettable adventure on the high seas.
          </p>
        </div>
      </section>

      <section class="yacht-dream">
        <div class="container">
            <ul class="yacht">
                <li class="yacht__item">
                    <img src="./images/bg-yaht-(1).png" alt="yacht" class="yacht__link">
                </li>

                <li class="yacht__item">
                    <img src="./images/bg-yaht-(2).png" alt="yacht" class="yacht__link">
                </li>

                <li class="yacht__item">
                    <img src="./images/bg-yaht-(3).png" alt="yacht" class="yacht__link">
                </li>
            </ul>
            <h3 class="dreams__yeacht">Choose your dream yacht and sail away into the sunset</h3>
            <button type="button" class="dreams__button">Yacht rental</button>
        </div>
      </section>
      <section>
        <div class="container">
            <ul class="slider">
                <li class="slider__item">
                    <img src="./images/slider-yaht-(1).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(2).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(3).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(4).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(5).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(6).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(7).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(8).png" alt="yacht" class="slider__link">
                </li>

                <li>
                    <img src="./images/slider-yaht-(9).png" alt="yacht" class="slider__link">
                </li>
            </ul>
        </div>
      </section>
      <section>
        <div class="container">
            <ul>
                <li>
                    <img src="./images/diving.png" alt="diving">
                    <p>Diving</p>
                </li>
                <li>
                    <img src="./images/fishing.png" alt="diving">
                    <p>Fishing</p>
                </li>
                <li>
                    <img src="./images/sunbathing.png" alt="diving">
                    <p>Sunbathing</p>
                </li>
            </ul>
        </div>
      </section>
      <section>
        <div class="container">
            <h4>Rent a yacht now</h4>
            <img src="./images/one-yaht-ocean.png" alt="">

            <form>
                <label for="name">Full Name</label>
                <input type="text" id="name">

                <label for="email">Email</label>
                <input type="email" id="email">

                <label for="phone-number">Phone number</label>
                <input type="number" id="phone-number">

                <label for="comment">Comment</label>
                <input type="text" id="comment">
            </form>
            <button>Send</button>
        </div>
      </section>
      <!-- <section>
        <div class="container"></div>
      </section> -->
      <!-- <section>
        <div class="container"></div>
      </section> -->
    </main>
  </body>
</html>
