<section class="comment">
  <div class="container">
    <h2 class="comment__title">
      <span class="comment__title-part">Yacht Adventures</span> take pride in
      providing the best possible service and experience to our customers
    </h2>
    <p class="comment__info">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>

    <ul class="commnet__list">
      <li class="comment__list-item">
        <img src="./images/john-wax.png" alt="" width="56" />
        <p class="comment__item-info">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="comment__list-item">
        <img src="./images/victorua-romachenko.png" alt="" width="56" />
        <p class="comment__item-info">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="comment__list-item">
        <img src="./images/iron-trachuk.png" alt="" width="56" />
        <p class="comment__item-info">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
    </ul>

    <button type="button" class="comment__btn">
      <svg
        id="arrow"
        viewBox="0 0 18 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12.5 0.669922L18 5.00005L12.5 9.33018V5.75005L0 5.75005L0 4.25005L12.5 4.25005V0.669922Z"
          fill="#F6F5EF"
        />
      </svg>
    </button>
  </div>
</section>
