<section class="testimonials-section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="testimonials-title">
        <span class="testimonial-part">Yacht Adventures</span> take pride in
        providing the best possible service and experience to our customers
      </h2>
      <div class="testimonial-container">
        <p class="testimonials-description">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it – read on to find out what they have to say
          about their journey with us.
        </p>
      </div>
    </div>

    <input type="radio" name="slider" id="slide1" checked />
    <input type="radio" name="slider" id="slide2" />
    <input type="radio" name="slider" id="slide3" />

    <ul class="testimonials-slider">
      <li class="testimonial-card" id="testimonial-john">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./images/john@1x.png 1x, ./images/john@2x.png 2x"
          />
          <img
            class="testimonial-photo"
            src="./images/john@1x.png"
            alt="John Wax"
          />
        </picture>
        <h3 class="testimonial-name">John Wax</h3>
        <p class="testimonial-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="testimonial-card" id="testimonial-victoria">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./images/victoria@1x.png 1x, ./images/victoria@2x.png 2x"
          />
          <img
            class="testimonial-photo"
            src="./images/victoria@2x.png"
            alt="Victoria Romashenko"
          />
        </picture>
        <h3 class="testimonial-name">Victoria Romashenko</h3>
        <p class="testimonial-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="testimonial-card" id="testimonial-ihor">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./images/ihor@1x.png 1x, ./images/ihor@2x.png 2x"
          />
          <img
            class="testimonial-photo"
            src="./images/ihor@2x.png"
            alt="Ihor Trachuk"
          />
        </picture>
        <h3 class="testimonial-name">Ihor Trachuk</h3>
        <p class="testimonial-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>

    <div class="testimonials-dots">
      <label for="slide1" class="dot"></label>
      <label for="slide2" class="dot"></label>
      <label for="slide3" class="dot"></label>
    </div>

    <a href="#hero" class="testimonial-btn">
      <svg
        width="8"
        height="16"
        viewBox="0 0 8 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="btn-icon"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 4.88889L4 0L8 4.88889H4.69282V16H3.30718L3.30718 4.88889H0Z"
          fill="#F6F5EF"
        />
      </svg>
    </a>
  </div>
</section>
