<section class="dream">
    <div class="container">
        <ul class="yacht">
            <li class="yacht__item">
                <img src="./images/bg-yaht-(1).png" alt="yacht" class="yacht__link">
            </li>

            <li class="yacht__item">
                <img src="./images/bg-yaht-(2).png" alt="yacht" class="yacht__link">
            </li>

            <li class="yacht__item">
                <img src="./images/bg-yaht-(3).png" alt="yacht" class="yacht__link">
            </li>
        </ul>
        <h3 class="dreams__yeacht">Choose your dream yacht and sail away into the sunset</h3>
        <button type="button" class="dreams__button">Yacht rental</button>
    </div>
  </section>