<section class="dream">
    <div class="container">
        <ul class="yacht">
            <li class="yacht-item">
                <img src="./images/open-yacht@1x.png" alt="yacht" class="yacht-link">
            </li>

            <li class="yacht-item">
                <img src="./images/kitchen-yacht@1x.png" alt="yacht" class="yacht-link">
            </li>

            <li class="yacht-item">
                <img src="./images/sea-yacht@1x.png" alt="yacht" class="yacht-link">
            </li>
        </ul>
        <h3 class="dreams-yeacht">Choose your dream yacht and sail away into the sunset</h3>
        <button type="button" class="dreams__button">Yacht rental</button>
    </div>
  </section>