<section class="dream">
  <div class="container">
    <div class="yacht-container">
      <ul class="yacht">
        <li class="yacht-item">
          <picture>
            <source
              srcset="
                ./images/open-yacht@1x.png 1x,
                ./images/open-yacht@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/open-yacht_tablet@1x.png 1x,
                ./images/open-yacht_tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ./images/open-yacht_mobile@1x.png 1x,
              ./images/open-yacht_mobile@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./images/open-yacht@1x.png"
              alt="yacht"
              class="yacht-link"
            />
          </picture>
        </li>
  
        <li class="yacht-item">
          <picture>
            <source
              srcset="
                ./images/kitchen-yacht@1x.png 1x,
                ./images/kitchen-yacht@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/kitchen-yacht_tablet@1x.png 1x,
                ./images/kitchen-yacht_tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/kitchen-yacht_mobile@1x.png 1x,
                ./images/kitchen-yacht_mobile@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./images/kitchen-yacht_mobile@1x.png"
              alt="yacht"
              class="yacht-link"
            />
          </picture>
        </li>
  
        <li class="yacht-item">
          <picture>
            <source
              srcset="./images/sea-yacht@1x.png 1x, ./images/sea-yacht@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/sea-yacht_tablet@1x.png 1x,
                ./images/sea-yacht_tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/sea-yacht_mobile@1x.png 1x,
                ./images/sea-yacht_mobile@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./images/sea-yacht_mobile@1x.png"
              alt="yacht"
              class="yacht-link"
            />
          </picture>
        </li>
      </ul>
      <div class="blure"></div>
    </div>
    <div class="title-wrapper">
      <h2 class="dream-yacht">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <button type="button" class="dream-btn">Yacht rental</button>
    </div>
  </div>
  
</section>
