    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <a href="/" class="logo">
            <svg class="logo-icon">
              <use href="./icon/symbol-defs.svg#icon-korablic"></use>
            </svg>
            Yacht Adventures
          </a>
          <nav class="navigation-footer">
            <ul class="menu">
              <li class="menu-item">
                <a href="#about" class="menu-link">About</a>
              </li>
              <li class="menu-item">
                <a href="#yachts" class="menu-link">Yachts</a>
              </li>
              <li class="menu-item">
                <a href="#reviews" class="menu-link">Reviews</a>
              </li>
            </ul>
          </nav>
          <div class="sm-wrapper">
            <h2 class="sm-title">We in social</h2>
            <ul class="sm-list">
              <li class="sm-item">
                <a href="#" class="sm-link">
                  <svg class="sm-icon sm-icon-fb">
                    <use href="./icon/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="sm-item">
                <a href="#" class="sm-link">
                  <svg class="sm-icon sm-icon-insta">
                    <use href="./icon/symbol-defs.svg#icon-insta"></use>
                  </svg>
                </a>
              </li>
              <li class="sm-item">
                <a href="#" class="sm-link">
                  <svg class="sm-icon sm-icon-yt">
                    <use href="./icon/symbol-defs.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" target="_blank" class="copyright"
          >2023. Yacht Adventures <span>Privacy Police</span>
        </a>
      </div>
    </footer>