<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="container">
        <a href="/" class="logo">
          <svg class="logo-icon">
            <use href="./icon/symbol-defs.svg#icon-korablic"></use>
          </svg>
          Yacht Adventures
        </a>

        <nav class="navigation">
          <ul class="menu">
            <li class="menu-item">
              <a href="#about" class="menu-link">About</a>
            </li>
            <li class="menu-item">
              <a href="#yachts" class="menu-link">Yachts</a>
            </li>
            <li class="menu-item">
              <a href="#reviews" class="menu-link">Reviews</a>
            </li>
          </ul>
        </nav>
        <div>

          <h2 class="sm-title">We in social</h2>
          <ul class="sm-list">
            <li class="sm-item">
              <a href="#" class="sm-link">
                <svg width="10" height="19">
                  <use href="./icon/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="sm-item">
              <a href="#" class="sm-link">
                <svg width="18" height="18">
                  <use href="./icon/symbol-defs.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="sm-item">
              <a href="#" class="sm-link">
                <svg width="20" height="20">
                  <use href="./icon/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- <p>2023. Yacht Adventures</p>
        <a href="/">Privacy Police</a> Тут проще было сделать так как написано ниже что бы не увиличивать код как в html так и в scss-->
        <a href="#" class="copyright">2023. Yacht Adventures <span>Privacy Police</span></a>
      </div>
    </footer>
  </body>
</html>
