<header class="header">
    <div class="container">
      <nav class="navigation">
        <a href="/" class="navigation__logo">
          <svg width="23" height="23">
            <use href="./icon/symbol-defs.svg#icon-korablic"></use>
          </svg>
          <p class="logo-text">Yacht Adventures</p>
        </a>

        <ul class="menu">
          <li class="menu__item">
            <a href="#" class="menu__link">About</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Yachts</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>