<header class="header">
    <div class="container">
      <div class="header-container">
      <a href="/" class="header-logo link">
          <svg width="23" height="23" class="header-svg">
            <use href="./icon/symbol-defs.svg#icon-korablic"></use>
          </svg>
          <p class="logo-text">Yacht Adventures</p>
        </a>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu__item">
            <a href="#" class="menu__link">About</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Yachts</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
     </div>
  </header>