<section class="hero">
  <div class="container hero-container">
    <div class="blure"></div>
    <ul class="hero-list">
      <li class="hero-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./images/hero-bg@1x.png 1x, ./images/hero-bg@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero-bg_tablet@1x.png 1x,
              ./images/hero-bg_tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./images/hero-bg_mobile@1x.png 1x,
              ./images/hero-bg_mobile@2x.png 2x
            "
          />
          <img
            src="./images/hero-bg_mobile@1x.png"
            alt="yacht-card"
            class="hero-bg"
          />
        </picture>
      </li>

      <li class="hero-list-item">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="
              ./images/hero-yacht@1x.png 1x,
              ./images/hero-yacht@2x.png 2x
            "
          />
          <img
            src="./images/hero-yacht@1x.png"
            alt="yacht-card"
            class="hero-yacht"
          />
        </picture>
        <p class="hero-yacht-link">
          $12M
          <span class="hero-yacht-part">
            Book now and make your dream yacht rental a reality
          </span>
        </p>
      </li>

      <li class="hero-list-item">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./images/clients@1x.png 1x, ./images/clients@2x.png 2x"
          />
          <img src="./images/clients@1x.png" alt="yacht-card" class="clients" />
        </picture>
        <p class="clients-link">Our Clients</p>
      </li>

      <li class="hero-list-item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/man@1x.png 1x, ./images/man@2x.png 2x"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./images/man-mobile@1x.png 1x,
              ./images/man-mobile@2x.png 2x
            "
          />
          <img src="./images/man@1x.png" alt="yacht-card" class="man" />
        </picture>
      </li>
    </ul>
    <div class="title-container">
      <h1 class="hero-title">
        Explore the High Seas with
        <span class="hero-part">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-information">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <div class="button-container">
        <button type="button" class="button-started hero-btn">
          Get Started
        </button>
        <button type="button" class="button-explore hero-btn">Explore</button>
      </div>
    </div>
  </div>
</section>
