<section class="hero">
    <div class="container">
      <ul>
        <li><img src="./images/bg-hero-section.png" alt="" /></li>
        <li><img src="./images/yacht.png" alt="" /></li>
        <li><img src="./images/clients.png" alt="" /></li>
        <li><img src="./images/man.png" alt="" /></li>
        <li>
          <p>$12M</p>
          <p>Book now and make your dream yacht rental a reality</p>
        </li>
      </ul>
      <h1 class="hero__title">Explore the High Seas with Our Luxury Yacht Rentals</h1>
      <p class="hero__information">
        Experience the freedom and luxury of yachting on the open seas.
        Choose from our top-of-the-line yachts and embark on an
        unforgettable journey surrounded by breathtaking views and
        state-of-the-art amenities.
      </p>
      <button type="button" class="button__started">Get Started</button>
      <button type="button" class="button__explore">Explore</button>
    </div>
  </section>