<section class="hero">
    <div class="container">
      <ul>
        <li><img src="./images/hero-bg@1x.png" alt="yacht-card" /></li>
        <li><img src="./images/hero-yacht@1x.png" alt="" /></li>
        <li><img src="./images/clients@1x.png" alt="" /></li>
        <li><img src="./images/man@1x.png" alt="" /></li>
        <li>
          <p>$12M</p>
          <p>Book now and make your dream yacht rental a reality</p>
        </li>
      </ul>
      <h1 class="hero-title">Explore the High Seas with <span class="hero-part">Our Luxury Yacht</span> Rentals</h1>
      <p class="hero-information">
        Experience the freedom and luxury of yachting on the open seas.
        Choose from our top-of-the-line yachts and embark on an
        unforgettable journey surrounded by breathtaking views and
        state-of-the-art amenities.
      </p>
      <button type="button" class="button-started">Get Started</button>
      <button type="button" class="button-explore">Explore</button>
    </div>
  </section>