<section class="yacht__slider">
  <div class="container">
    <ul class="slider">
      <li class="slider-item">
        <img src="./images/arrow@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title italc-style">Arrow</h2>
          <p class="slider-yacht italc-style">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info italc-style">Lenght</p>
            <p class="item-info italc-style">48m(155ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info italc-style">Builder</p>
            <p class="item-info italc-style">Admiral</p>
          </li>
          <li class="list-item">
            <p class="item-info info italc-style">Built</p>
            <p class="item-info italc-style">2021</p>
          </li>
          <li class="list-item">
            <p class="item-info info italc-style">Guests</p>
            <p class="item-info italc-style">11 in 5 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info italc-style">Price</p>
            <p class="item-info italc-style">33,500,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/benetti@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">Benetti Oasis 40m...</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">41m(133ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">Benetii</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2025</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">10 in 5 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">23,210,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/belle@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">Belle Anna</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">50m(155ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">ISA</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2012</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">12 in 6 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">21,000,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/ellen@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">Ellen</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">40m(132ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">Pereni Navi</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2001/2016(refitted)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">9 in 4 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">9,300,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/mirage@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">Mirage 401</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="list-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">38m(125ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">Gianetti Custom Yachts</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2024</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">10 in 5 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">13,510,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/king@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">King</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">33m(109ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">Overmarine</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2004/2018</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">9 in 4 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">1,850,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/salt@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">Salt</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">32m(105ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">SanLorenzo</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2019</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">11 in 5 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">7,800,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/storm@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">Storm</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">32m(103ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">Overmarine</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2005/2022</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">9 in 4 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">2,900,000</p>
          </li>
        </ul>
      </li>

      <li class="slider-item">
        <img src="./images/collu@1x.png" alt="yacht" class="slider-link" />
        <div class="item-wrapper">
          <h2 class="slider-title">Collu</h2>
          <p class="slider-yacht">luxury yachts</p>
        </div>
        <ul class="slider-list">
          <li class="list-item">
            <p class="item-info info">Lenght</p>
            <p class="item-info">29m(96ft)</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Builder</p>
            <p class="item-info">Ferretti</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Built</p>
            <p class="item-info">2014</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Guests</p>
            <p class="item-info">10 in 5 cabins</p>
          </li>
          <li class="list-item">
            <p class="item-info info">Price</p>
            <p class="item-info">4,300,000</p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="btn-wrapper">
      <button type="button" class="slider-btn left-btn">
        <svg
          width="18"
          height="8"
          viewBox="0 0 18 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="slider-icon left"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.5 0L18 4L12.5 8V4.69282L0 4.69282L0 3.30718L12.5 3.30718V0Z"
            fill="#F6F5EF"
          />
        </svg>
      </button>
      <button type="button" class="slider-btn">
        <svg
          width="18"
          height="8"
          viewBox="0 0 18 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="slider-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.5 0L18 4L12.5 8V4.69282L0 4.69282L0 3.30718L12.5 3.30718V0Z"
            fill="#F6F5EF"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
