<section class="yacht__slider">
    <div class="container">
      <ul class="slider">
        <li class="slider__item">
          <img
            src="./images/slider-yaht-(1).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(2).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(3).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(4).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(5).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(6).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(7).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(8).png"
            alt="yacht"
            class="slider__link"
          />
        </li>

        <li>
          <img
            src="./images/slider-yaht-(9).png"
            alt="yacht"
            class="slider__link"
          />
        </li>
      </ul>
    </div>
  </section>