<section class="yacht__form">
  <div class="container forms">
    <div class="rent-container">
      <h4 class="rent-title">Rent a yacht now</h4>
      <picture>
        <source
          media="(min-width: 1220px)"
          srcset="./images/form-img@1x.png 1x, ./images/form-img@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/yacht-form_tablet@1x.png 1x,
            ./images/yacht-form_tablet@2x.png 2x
          "
        />
        <source
          media="(min-width: 375px)"
          srcset="
            ./images/form-img_mobile@1x.png 1x,
            ./images/form-img_mobile@2x.png 2x
          "
        />
        <img src="./images/form-img@1x.png" class="rant-yacht" />
      </picture>
    </div>

    <form class="rant-form">
      <label for="name" class="label-form">Full Name</label>
      <input type="text" id="name" class="input-form" />

      <label for="email" class="label-form">Email</label>
      <input type="email" id="email" class="input-form" />

      <label for="phone-number" class="label-form">Phone number</label>
      <input type="number" id="phone-number" class="input-form" />

      <label for="comment" class="label-form">Comment</label>
      <input type="text" id="comment" class="input-form" />

      <button class="rent-btn" data-modal-open>
        Send
        <svg
          width="18"
          height="10"
          viewBox="0 0 18 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.5 0.669922L18 5.00005L12.5 9.33018V5.75005L0 5.75005L0 4.25005L12.5 4.25005V0.669922Z"
            fill="#F6F5EF"
          />
        </svg>
      </button>
    </form>
    <svg
      width="363"
      height="684"
      viewBox="0 0 363 684"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="blure"
    >
      <g opacity="0.6" filter="url(#filter0_f_92_1651)">
        <ellipse
          cx="141.5"
          cy="141.5"
          rx="141.5"
          ry="141.5"
          transform="matrix(0.707107 -0.707107 0.705049 0.709159 142 342)"
          fill="#91AFBA"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_92_1651"
          x="0.525391"
          y="0.584961"
          width="682.589"
          height="683.411"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_92_1651"
          />
        </filter>
      </defs>
    </svg>
  </div>

  <div class="backdrop is-hidden" data-backdrop>
    <div class="modal" data-modal>
      <button class="modal-btn" data-modal-close>
        <a href="#">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 6L6 18"
              stroke="#F6F5EF"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6 6L18 18"
              stroke="#F6F5EF"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </button>
      <div class="container-thank-yacht">
        <div class="modal-blure"></div>
        <img src="./images/hero-yacht@1x.png" alt="Thank you" />
      </div>
      <div class="container-thank-text">
        <h2>Thank you</h2>
        <p>
          Thank you for choosing Yacht Adventures, your booking details have
          been received and our team will be in touch shortly to confirm your
          reservation and provide any additional information or assistance you
          may need.
        </p>
      </div>
    </div>
  </div>

  <script>
    (() => {
      const refs = {
        openModalBtn: document.querySelector('[data-modal-open]'),
        closeModalBtn: document.querySelector('[data-modal-close]'),
        modal: document.querySelector('[data-backdrop]'),
      };

      refs.openModalBtn.addEventListener('click', toggleModal);
      refs.closeModalBtn.addEventListener('click', toggleModal);

      function toggleModal() {
        refs.modal.classList.toggle('is-hidden');
      }
    })();
  </script>
</section>
