<section class="yacht__form">
  <div class="container">
    <h4>Rent a yacht now</h4>
    <img src="./images/one-yaht-ocean.png" alt="" />

    <form>
      <label for="name">Full Name</label>
      <input type="text" id="name" />

      <label for="email">Email</label>
      <input type="email" id="email" />

      <label for="phone-number">Phone number</label>
      <input type="number" id="phone-number" />

      <label for="comment">Comment</label>
      <input type="text" id="comment" />
    </form>
    <button>Send</button>
  </div>
</section>
