// Стиили для 1200px

.hero-btn {
  height: 48px;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  border-radius: 60px;
  color: $white;
}

.button-started {
  width: 150px;
  margin-right: 11px;
  background: $light-green;
  border: none;
}

.button-explore {
  border: 2px solid $white;
  width: 117px;
  background-color: $dark-blue;
}
// 320px
.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid $white;
}
.left {
  transform: rotate(180deg);
}
.dream-btn {
  width: 131px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 60px;
  transform: translateY(-30px);
  @media screen and (min-width: 768px) {
    width: 154px;
    height: 48px;
    font-size: 18px;
    transform: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: auto;
  }
}
