.header-btn {
  background-color: transparent;
  border: none;
}
// Стиили для 1200px

.hero-btn {
  height: 48px;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  border-radius: 60px;
  color: $white;
}

.button-container {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.button-started {
  width: 150px;
  margin-right: 11px;
  background: $light-green;
  border: none;

  transition: background, 300ms, cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    cursor: pointer;
    background-color: #88b3b9;
  }
}

.button-explore {
  border: 2px solid $white;
  width: 117px;
  background-color: $dark-blue;

  transition-property: color, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: $light-green;
    border-color: $light-green;
    cursor: pointer;
  }
}
.dream-btn {
  width: 131px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 60px;
  transform: translateY(-30px);

  transition-property: color, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: $light-green;
    border-color: $light-green;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    width: 154px;
    height: 48px;
    font-size: 18px;
    transform: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: auto;
  }
}
.rent-btn {
  display: inline-flex;
  align-items: center;
  width: 132px;
  height: 48px;
  margin-top: 24px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  border: 2px solid $white;
  color: $white;
  background-color: transparent;
  border-radius: 60px;

  transition-property: color, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: $light-green;
    border-color: $light-green;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 1220px) {
    margin-top: 64px;
  }
}
.testimonial-btn {
  position: absolute;
  bottom: 22px;
  right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $light-green;
  border-radius: 8px;
  border: none;
  @media screen and (min-width: 768px) {
    width: 68px;
    height: 68px;
    bottom: 32px;
    right: 32px;
    .btn-icon {
      width: 16px;
      height: 30px;
    }
  }
}
