.testimonials-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  .testimonials-title {
    width: 335px;

    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: $white;
    .testimonial-part {
      color: $light-green;
      font-style: italic;
    }
  }

  .testimonials-description {
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 14px;
    color: $white;
  }

  .testimonials-slider {
    position: relative;
    width: 335px;
    height: 300px;
  }

  .testimonial-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 335px;
    height: 208px;
    padding: 24px;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      visibility 0s 0.5s;
    background: $blue-2;
    border-radius: 24px;
    text-align: center;
    opacity: 0;
    .testimonial-name {
      margin-top: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.1;
      letter-spacing: -0.04em;
      text-align: center;
      color: $white;
    }
    .testimonial-text {
      margin-top: 10px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
      letter-spacing: -0.02em;
      text-align: center;
      color: rgba(246, 245, 239, 0.5);
    }
    .testimonial-photo {
      width: 48px;
      height: 48px;
      margin: auto;
    }
  }

  input[type='radio'] {
    display: none;
  }
  #slider1:checked,
  #slide2:checked,
  #slide3:checked ~ .testimonials-slider #testimonial-ihor {
    transform: none;
  }
  #slide1:checked ~ .testimonials-slider #testimonial-john {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
  }

  #slide2:checked ~ .testimonials-slider #testimonial-victoria {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
  }

  #slide3:checked ~ .testimonials-slider #testimonial-ihor {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
  }

  .testimonials-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .dot {
    width: 12px;
    height: 12px;
    background-color: #1f212d;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  .dot:hover {
    background-color: #aaa;
  }

  #slide1:checked ~ .testimonials-dots label[for='slide1'],
  #slide2:checked ~ .testimonials-dots label[for='slide2'],
  #slide3:checked ~ .testimonials-dots label[for='slide3'] {
    background-color: $light-green;
  }
}
@media screen and (min-width: 768px) {
  .testimonials-section {
    padding-top: 100px;
    padding-bottom: 100px;
    .testimonials-title {
      width: 497px;
      font-size: 32px;
    }
    .testimonial-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      margin-top: 32px;
      .testimonials-description {
        width: 273px;
        font-size: 16px;
      }
    }

    #slide1:checked ~ .testimonials-slider #testimonial-john,
    #slide1:checked ~ .testimonials-slider #testimonial-victoria {
      opacity: 1;
      visibility: visible;
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    #slide1:checked ~ .testimonials-slider #testimonial-ihor {
      display: none;
    }

    #slide2:checked ~ .testimonials-slider #testimonial-victoria,
    #slide2:checked ~ .testimonials-slider #testimonial-ihor {
      opacity: 1;
      visibility: visible;
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    #slide2:checked ~ .testimonials-slider #testimonial-ihor {
      transform: translateY(-208px);
    }

    #slide3:checked ~ .testimonials-slider #testimonial-john,
    #slide3:checked ~ .testimonials-slider #testimonial-ihor {
      opacity: 1;
      visibility: visible;
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    #slide3:checked ~ .testimonials-slider #testimonial-ihor {
      transform: translate(360px, -208px);
    }

    .testimonials-slider {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
      width: 704px;

      .testimonial-card {
        position: static;
        flex-basis: calc((100% - 16px) / 2);
        width: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
      }
    }
  }
}
@media screen and (min-width: 1220px) {
  .testimonials-section {
    padding-top: 164px;
    padding-bottom: 164px;
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;
    }
    .testimonial-container {
      flex-wrap: nowrap;
      margin-top: 0;
      .testimonials-description {
        margin: 0;
      }
    }

    #slide1:checked ~ .testimonials-slider #testimonial-ihor {
      display: block;
    }
    .testimonials-slider {
      min-width: 1216px;
      column-gap: 32px;
      .testimonial-card {
        height: 282px;
        padding: 32px;
        flex-basis: calc((100% - 2 * 32px) / 3);
        opacity: 1;
        visibility: visible;
        .testimonial-name {
          margin-top: 24px;
          font-size: 18px;
        }
        .testimonial-text {
          width: 320px;
          font-size: 16px;
        }
      }
    }
    .testimonials-dots {
      display: none;
    }
  }
}
