.slider {
  width: 1200px;
  display: flex;
  overflow-x: scroll;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.controlsBtn {
  width: 180px;
  height: 80px;
}

.controls #leftBtn,
.controls #rightBtn {
  width: 70px;
  cursor: pointer;
}
