.yacht__form {
  position: relative;
  .forms {
    display: flex;
    .form-blure {
      position: absolute;
      top: 118px;
      left: 79%;
      width: 256px;
      height: 267px;
      filter: blur(110px);
      background-color: #91afba;
      border-radius: 100%;
    }
    .rent-container {
      margin-right: 188px;
      width: 282px;
      height: 387px;
    }

    .rent-title {
      margin-bottom: 64px;
      font-weight: 500;
      font-size: 60px;
      line-height: 1.1;
      letter-spacing: -0.04em;
      color: $white;
    }

    .rant-form {
      display: flex;
      flex-direction: column;
      width: 443px;
      height: 378px;
    }

    .label-form {
      color: $white;
    }

    .input-form {
      background-color: transparent;
      border: none;
      height: 16px;
      color: $white;
      border-bottom: 1px solid $white;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.04em;
      outline: none;
    }

    .input-form:nth-child(-n + 6) {
      margin-bottom: 28px;
    }
    .input-form:nth-child(8) {
      margin-top: 58px;
      margin-bottom: 60px;
    }

    

    .rent-btn svg {
      margin-left: 16px;
    }
  }
}
