.yacht__form {

  .forms {
    display: flex;
    justify-content: center;
    position: relative;

    .form-blure {
      position: absolute;
      top: 118px;
      left: 79%;
      width: 256px;
      height: 267px;
      filter: blur(110px);
      background-color: #91afba;
      border-radius: 100%;

      @media screen and (max-width: 767px) {
        top: 580px;
      }
    }
    .rent-container {
      margin-right: 69px;
      width: 282px;
      height: 387px;

      @media screen and (min-width: 1200px) {
        margin-right: 188px;
      }
    }

    .rent-title {
      margin-bottom: 64px;
      font-weight: 500;
      font-size: 60px;
      line-height: 1.1;
      letter-spacing: -0.04em;
      color: $white;

      @media screen and (max-width: 767px) {
        font-size: 36px;
      }
    }

    .rant-form {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      width: 335px;

      @media screen and (min-width: 768px) {
        margin-top: 0px;
        width: 364px;
      }
      @media screen and (min-width: 1200px) {
        width: 443px;
      }
    }

    .label-form {
      color: $white;
    }

    .input-form {
      background-color: transparent;
      border: none;
      width: 100%;
      height: 16px;
      color: $white;
      border-bottom: 1px solid $white;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.04em;
      outline: none;
    }

    .input-form:nth-child(-n + 6) {
      margin-bottom: 28px;
    }
    .input-form:nth-child(8) {
      margin-top: 58px;
      margin-bottom: 24px;

      @media screen and (min-width: 768px) {
        margin-bottom: 32px;
      }
      @media screen and (min-width: 768px) {
        margin-bottom: 60px;
      }
    }

    .rent-btn {
      display: inline-flex;
      align-items: center;
      width: 132px;
      height: 48px;
      padding: 14px 28px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.1;
      letter-spacing: -0.04em;
      border: 2px solid $white;
      color: $white;
      background-color: transparent;
      border-radius: 60px;
      cursor: pointer;
    }

    .rent-btn svg {
      margin-left: 16px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}
